

    #contenedor-botton{

        text-align: right;
        margin-bottom: 5rem;
    
        #cerrar-sesion-administrador{
            
           
                 &:hover{
                    cursor:pointer;
                    background-color: $azul;
                }
    
                border:none;
                text-transform: uppercase;
                padding:2rem;
                color:$blanco;
                font-weight: $bold;
                font-size: 1.5rem;
                width:95%;
        }
    }
    
    
  
    .contenedor-administrativo{
        display:block;
        margin-bottom: 5rem;

        @include tablet{
            
            @include grid(2,$separacion/2);
            margin-top: 5rem;
            margin-bottom: 5rem;

        }


        #modificar{
                grid-row: 2/3;
                grid-column: 1/3;

        }

        .elemento{
            text-align: center;
             border-radius:2rem;
             text-transform: uppercase;
             font-weight: $bold;
             color:$blanco;
             
            padding:10rem;

            &:hover{
                background-color: $azul;
                cursor:pointer;
            }


        }


    }




