#formulario-pin{


    #regresar-menupin{
         
    text-align: right;
    margin-bottom: 5rem;

    #regresar-pin{
            &:hover{
                cursor:pointer;
                background-color: $base;
            }
            border:none;
            text-transform: uppercase;
            padding:2rem;
            color:$blanco;
            font-weight: $bold;
            font-size: 1.5rem;
            width:95%;

        }

    }
}


#formulario-pin-2{


    #regresar-menupin-2{
         
    text-align: right;
    margin-bottom: 5rem;

    #regresar-pin-2{
            &:hover{
                cursor:pointer;
                background-color: $base;
            }
            border:none;
            text-transform: uppercase;
            padding:2rem;
            color:$blanco;
            font-weight: $bold;
            font-size: 1.5rem;
            width:95%;

        }

    }
}

#contenedor-mensajeCambiarPin{
    

    .mensajeNoCambiarPin{
        background-color: rgb(194, 0, 0);
        padding:$separacion/2;
        text-align: center;
        color:$blanco;
        width: 100%;
        display:block;

    }

   
}


#contenedor-mensajeCambiarPin2{

    .mensajeCambiarPin{
        background-color: rgb(0, 194, 0);
        padding:$separacion/2;
        text-align: center;
        color:$blanco;
        width: 100%;
        display:block;

    }


    .mensajeNoCambiarPin{
        background-color: rgb(194, 0, 0);
        padding:$separacion/2;
        text-align: center;
        color:$blanco;
        width: 100%;
        display:block;

    }
   

}


