
#seccion-consultar{
    text-align: center;
    p{
        margin-bottom:1rem ;
        span{
        
            font-weight: $black;
        }
    }



}

#contenedor-bottonRegresar{

    text-align: right;
    margin-top: 5rem;

    #regresar{
        
        &:hover{
            cursor:pointer;
            background-color: $base;


    }

        border:none;
        text-transform: uppercase;
        padding:2rem;
        color:$blanco;
        font-weight: $bold;
        font-size: 1.5rem;
        width:95%;
    }


    
    }
    

