#regresar-modificar{

    text-align: right;
    margin-bottom: 5rem;

    #regresar-menuModificar{
        
       
             &:hover{
                cursor:pointer;
                background-color: $base;
            }

            border:none;
            text-transform: uppercase;
            padding:2rem;
            color:$blanco;
            font-weight: $bold;
            font-size: 1.5rem;
            width:95%;
    }
}

#regresar-modificar1{

    text-align: right;
    margin-bottom: 5rem;

    #regresar-menuModificar1{
        
       
             &:hover{
                cursor:pointer;
                background-color: $base;
            }

            border:none;
            text-transform: uppercase;
            padding:2rem;
            color:$blanco;
            font-weight: $bold;
            font-size: 1.5rem;
            width:95%;
    }
}


.contenedor-input{

    @include tablet{
        @include grid(2,$separacion/2);
       
    }

    margin-bottom: 5rem;
   
    
}

.formulario-modificar{
    #aceptar-modificar{
        padding: 2rem 10rem 2rem 10rem;

        margin-bottom: 5rem;

    }
}


p{
   


    &.no-crear{
        background-color: rgb(194, 0, 0);
        padding:$separacion/2;
        text-align: center;
        color:$blanco;
        width: 100%;
        display:block;
        
    }
}