
#contenedor-menu{




    #menu-operaciones{

        margin-bottom: 5rem;
    
    
        @include desktop{
            @include grid(3,$separacion/4);
            .operacion{
            
                padding:10rem;

            }
            
            
        }
    
         @include grid(2,$separacion/4);
    
         .operacion{
             text-align: center;
             border-radius:2rem;
             text-transform: uppercase;
             font-weight: $bold;
             color:$blanco;
             svg{
                 width: 6rem;
                 height: 6rem;
             }
                padding:auto;
             
                &:hover{
                    background-color: $base;
                    cursor:pointer;
                }
         }
    
         
    }
    
    .contenedor-botton{
    
    
        text-align: right;
        margin-bottom: 5rem;
        #cerrar-sesion{
    
            
             &:hover{
                cursor:pointer;
                background-color: $base;
            }
            border:none;
            text-transform: uppercase;
            padding:2rem;
            color:$blanco;
            font-weight: $bold;
            font-size: 1.5rem;
            width:95%;
    
           
        
        }  
        
    
    }
    

}
