
#contenedor-retirar{

    .pintar-cuadro{
        background-color: $base;
    }



    #menu-retirar{

        

        &.pintar-negro{
            background-color: $base;
        }

        margin-top: 5rem;
        margin-bottom: 5rem;

       
        
        
            @include desktop{
                @include grid(3,$separacion/4);
                .opcion{
                    padding:12rem;
    
                }
                
                
            }
        
             @include grid(2,$separacion/4);
        
             .opcion{
                 text-align: center;
                 border-radius:2rem;
                 text-transform: uppercase;
                 font-weight: $bold;
                 padding:auto;
                 color:$verde;
                
                 

                 
                    &:hover{
                        background-color: $base;
                        cursor:pointer;
                    }

                   
             }

             #OtraCantidad-retirar{
                text-align: center;
                border-radius:2rem;
                text-transform: uppercase;
                font-weight: $bold;
                padding:auto;
                color:$verde;
               
                

                
                   &:hover{
                       background-color: $base;
                       cursor:pointer;
                   }


             }


             
        
             
        }
       

}


#contenedor-bottonRetirar{
    
    
    text-align: right;
    margin-bottom: 5rem;
    #regresar-retirar{

        
         &:hover{
            cursor:pointer;
            background-color: $base;
        }
        border:none;
        text-transform: uppercase;
        padding:2rem;
        color:$blanco;
        font-weight: $bold;
        font-size: 1.5rem;
        width:95%;

       
    
    }  
}




#contenedor-aceptar{
    
    
    text-align: center;
    margin-bottom: 5rem;
    #aceptar-retiro{

        
         &:hover{
            cursor:pointer;
            background-color: $base;
        }
        border:none;
        text-transform: uppercase;
        padding:2rem;
        color:$blanco;
        font-weight: $bold;
        font-size: 1.5rem;
        width:95%;

       
    
    }  
}

#contenedor-mensajeRetirar{
    
    


    .mensajeRetirar{
        background-color: rgb(0, 194, 0);
        padding:$separacion/2;
        text-align: center;
        color:$blanco;
        width: 100%;
        display:block;
    }


    .mensajeNoRetirar{
        background-color: rgb(194, 0, 0);
        padding:$separacion/2;
        text-align: center;
        color:$blanco;
        width: 100%;
        display:block;

    }
}

