#formulario-transferir{


    #regresar-transferir{
         
    text-align: right;
    margin-bottom: 5rem;

    #regresar-menuTransferir{
            &:hover{
                cursor:pointer;
                background-color: $base;
            }
            border:none;
            text-transform: uppercase;
            padding:2rem;
            color:$blanco;
            font-weight: $bold;
            font-size: 1.5rem;
            width:95%;

        }

    }
}


#contenedor-transferir{

    .pintar-cuadro{
        background-color: $base;
    }



    #menu-transferir{

        

        &.pintar-negro{
            background-color: $base;
        }

        margin-top: 5rem;
        margin-bottom: 5rem;

       
        
        
            @include desktop{
                @include grid(3,$separacion/4);
                .opcion{
                    padding:12rem;
    
                }
                
                
            }
        
             @include grid(2,$separacion/4);
        
             .opcion{
                 text-align: center;
                 border-radius:2rem;
                 text-transform: uppercase;
                 font-weight: $bold;
                 padding:auto;
                color:$verde;
                 

                 
                    &:hover{
                        background-color: $base;
                        cursor:pointer;
                    }

                   
             }

             #OtraCantidad-transferir{
                text-align: center;
                border-radius:2rem;
                text-transform: uppercase;
                font-weight: $bold;
                padding:auto;
                color:$verde;
               
                

                
                   &:hover{
                       background-color: $base;
                       cursor:pointer;
                   }


             }


             
        
             
        }
       

}


#contenedor-bottonRegresarTransferir{
    
    
    text-align: right;
    margin-bottom: 5rem;
    #regresar-transferir{

        
         &:hover{
            cursor:pointer;
            background-color: $base;
        }
        border:none;
        text-transform: uppercase;
        padding:2rem;
        color:$blanco;
        font-weight: $bold;
        font-size: 1.5rem;
        width:95%;

       
    
    }  
}




#contenedor-aceptarTransferencia{
    
    
    text-align: center;
    margin-bottom: 5rem;
    #aceptar-transferenciaMenu{

        
         &:hover{
            cursor:pointer;
            background-color: $base;
        }
        border:none;
        text-transform: uppercase;
        padding:2rem;
        color:$blanco;
        font-weight: $bold;
        font-size: 1.5rem;
        width:95%;

       
    
    }  
} 


#contenedor-mensajeTransferir{
    
    


    .mensajeTransferir{
        background-color: rgb(0, 194, 0);
        padding:$separacion/2;
        text-align: center;
        color:$blanco;
        width: 100%;
        display:block;
    }

    .mensajeNotransferir{
        background-color: rgb(194, 0, 0);
        padding:$separacion/2;
        text-align: center;
        color:$blanco;
        width: 100%;
        display:block;
    }

}
