#regresar-imprimir-estado{
    
    
    text-align: right;
    margin-bottom: 5rem;
    #regresar-estado{

        
         &:hover{
            cursor:pointer;
            background-color: $base;
        }
        border:none;
        text-transform: uppercase;
        padding:2rem;
        color:$blanco;
        font-weight: $bold;
        font-size: 1.5rem;
        width:95%;

       
    
    }  
}

#seccion-cuenta-consultar{
    text-align: center;
     p{
        margin-bottom:1rem ;
        span{
        
            font-weight: $black;
        }
    }
}

#acciones{
    margin-top: 5rem;
    li{
        margin-bottom: 2rem;
        font-weight: $black;
            span{
                font-weight: $regular;
            }
        
    }
}
